<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layouts/fragments/header :: admin_head"/>

    <body class="sb-nav-fixed">
        <nav th:replace="layouts/fragments/nav :: admin_nav"/>
        <div id="layoutSidenav">
            <div th:replace="layouts/fragments/side_nav :: admin_side_nav" id="layoutSidenav_nav"/>
            <div id="layoutSidenav_content">
                <section layout:fragment="content">
                    <p>This is filled by the content template.</p>
                </section>
                <footer th:replace="layouts/fragments/footer :: admin-footer "/>
            </div>
        </div>
        <div th:replace="layouts/fragments/scripts :: admin_scripts"/>
    </body>
</html>
