<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:security="http://www.springframework.org/schema/security">
<security:intercept-url pattern="/resources/**" access="permitAll" />

<head th:replace="layouts/fragments/header.html :: user_head" />
<!-- Main Navigation -->
<body id="page-top">
<!-- Navigation-->
<nav th:replace="layouts/fragments/nav.html :: nav"/>


<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <!-- Content Section -->
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <section layout:fragment="content">
        </section>
        </div>
    </div>
</header>

<!-- Footer -->
<footer th:replace="layouts/fragments/footer.html :: footer" />
<!-- Optional Section -->
<th:block layout:fragment="optional" />

<div th:replace="layouts/fragments/scripts.html :: scripts"/>
</body>
</html>