<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class ="fr-pass">
<div>
    <h2 class="fr-pass-h2">Reset Your Password</h2>
</div>

<form th:action="@{/reset_password}" method="post" style="max-width; 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}"/>

    <div>
        <p>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your new password" required autofocus />
        </p>
        <p>
            <input type="password" class="form-control" placeholder="Confirm your new password" required oninput="checkPasswordMatch(this);" />
        </p>
        <p class="text-center">
            <input type="submit" value="Change Password" class="btn btn-primary" />
        </p>
    </div>
</form>
</div>
</body>
<script>
    function checkPasswordMatch(fieldConfirmPassword) {
    if(fieldConfirmPassword.value != $("#password").val()) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match");
      } else{
        fieldConfirmPassword.setCustomValidity("");
      }
      }
</script>
</html>